<div fxLayout fxLayoutAlign="center">
  <div class="container">
    <h1>Mortgage Calculator</h1>

    <div fxLayout="row"
         fxLayout.lt-md="column"
         fxLayoutWrap
         fxLayoutGap="20px"
         fxLayoutAlign="left">
      <div fxFlex="50%">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Payment Plan</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-payment-plan-form (statusChangeEvent)="onPaymentPlanStatusChange($event)"
                                   (valueChangeEvent)="onPaymentPlanValueChange($event)">
            </app-payment-plan-form>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="50%">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Prepayment Plan</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-prepayment-plan-form (statusChangeEvent)="onPrepaymentPlanStatusChange($event)"
                                      (valueChangeEvent)="onPrepaymentPlanValueChange($event)">
            </app-prepayment-plan-form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <mat-card>
      <mat-card-content *ngIf="errorMessage">
        <mat-error>
          {{errorMessage}}
        </mat-error>
      </mat-card-content>
      <mat-card-actions>

        <button mat-raised-button
                class="submit-button"
                [disabled]="!canSubmit"
                (click)="submit()"
                color="primary">
          Calculate
        </button>
      </mat-card-actions>
    </mat-card>

    <div *ngIf="mortgage">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Mortgage Summary</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-mortgage-summary-table [mortgage]="mortgage">
          </app-mortgage-summary-table>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Payments</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-mortgage-payment-table [payments]="mortgage.mortgagePayments">
          </app-mortgage-payment-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
